<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Multiplicar</title>
</head>

<body>
    <form action="/tabla" method="post">
        <label for="tabla">Tabla</label>
        <input type="number" id="numero" name="numero" required value="<%=numero%>">
        <button type="submit">Enviar</button>
        <button type="reset">Limpiar</button>

    </form>

    <section>
        <% 
        let res=0; 
        if (numero!=null){ 
            for(con=1; con <=10; ++con){
                 res=con * numero;
                %>
                <h3><%=numero%> * <%=con%> = <%=res%> </h3>
                <%
            } 
        } 
        %>
    </section>
</body>

</html>